.head
{
    font-family: italic;
    font-size:40px;
    color: #fff;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    text-align: center;
    margin-bottom:30px;
}
/* animation part */

@keyframes fadeBounce {
    0% {
        opacity: 0;
       transform:translateY(-200px);
    }
    40% {

        transform:translateY(0);
    }
    55%
    {
        transform: translateY(-6px);
    }
    70%
    {
        opacity:1;
        transform: translateY(0);
    }
    85%
    {
        transform: translateY(-3px);
    }
    100%
    {
        opacity:1;
        transform:translateY(0);
    }
    
}

/* box style */
.cpro
{
    animation: fadeBounce 1s  forwards;
    background: #d3dee7;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    box-shadow:5px 10px #c8c8c8;
    
}
.cpro1
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    right:850px;
    top: 200px;
    box-shadow:5px 10px #c8c8c8;
}
.cpro2
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    right:550px;
    top:200px;
    box-shadow:5px 10px #c8c8c8;
}
.cpro3
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    right:250px;
    top:200px;
    box-shadow:5px 10px #c8c8c8;
}
.cpro4
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:200;
    box-shadow:5px 10px #c8c8c8;
}
.cpro5
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:350;
    box-shadow:5px 10px #c8c8c8;
}
.cpro6
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:350;
    box-shadow:5px 10px #c8c8c8;
}
.cpro7
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:350;
    box-shadow:5px 10px #c8c8c8;
}
.cpro8
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:350;
    box-shadow:5px 10px #c8c8c8;
}
.cpro9
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:350;
    box-shadow:5px 10px #c8c8c8;
}
.cpro10
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:525;
    box-shadow:5px 10px #c8c8c8;
}
.cpro11
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:525;
    box-shadow:5px 10px #c8c8c8;
}
.cpro12
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:525;
    box-shadow:5px 10px #c8c8c8;
}
.cpro13
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:525;
    box-shadow:5px 10px #c8c8c8;
}
.cpro14
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:525;
    box-shadow:5px 10px #c8c8c8;
}
.cpro15
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:700;
    box-shadow:5px 10px #c8c8c8;
}
.cpro16
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:700;
    box-shadow:5px 10px #c8c8c8;
}
.cpro17
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:700;
    box-shadow:5px 10px #c8c8c8;
}
.cpro18
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:700;
    box-shadow:5px 10px #c8c8c8;
}
.cpro19
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:700;
    box-shadow:5px 10px #c8c8c8;

}

.cpro20
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:875;
    box-shadow:5px 10px #c8c8c8;
}
.cpro21
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:875;
    box-shadow:5px 10px #c8c8c8;
}
.cpro22
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:875;
    box-shadow:5px 10px #c8c8c8;
}
.cpro23
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:875;
    box-shadow:5px 10px #c8c8c8;
}
.cpro24
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:875;
    box-shadow:5px 10px #c8c8c8;
}
.cpro25
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:1050;
    box-shadow:5px 10px #c8c8c8;
}
.cpro26
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:1050;
    box-shadow:5px 10px #c8c8c8;
}
.cpro27
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:1050;
    box-shadow:5px 10px #c8c8c8;
}
.cpro28
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:1050;
    box-shadow:5px 10px #c8c8c8;
}
.cpro29
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:1050;
    box-shadow:5px 10px #c8c8c8;
}
.cpro30
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:1225;
    box-shadow:5px 10px #c8c8c8;
}

.cpro31
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:1225;
    box-shadow:5px 10px #c8c8c8;
}
.cpro32
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:1225;
    box-shadow:5px 10px #c8c8c8;
}

.cpro33
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:1225;
    box-shadow:5px 10px #c8c8c8;
}

.cpro34
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:1225;
    box-shadow:5px 10px #c8c8c8;
}
.cpro35
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:1400;
    box-shadow:5px 10px #c8c8c8;
}
.cpro36
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:1400;
    box-shadow:5px 10px #c8c8c8;
}
.cpro37
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:1400;
    box-shadow:5px 10px #c8c8c8;
}
.cpro38
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:1400;
    box-shadow:5px 10px #c8c8c8;
}
.cpro39
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:1400;
    box-shadow:5px 10px #c8c8c8;
}
.cpro40
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:1575;
    box-shadow:5px 10px #c8c8c8;
}
.cpro41
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:1575;
    box-shadow:5px 10px #c8c8c8;
}
.cpro42
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:1575;
    box-shadow:5px 10px #c8c8c8;
}
.cpro43
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:1575;
    box-shadow:5px 10px #c8c8c8;
}
.cpro44
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:1575;
    box-shadow:5px 10px #c8c8c8;
}
.cpro45
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:1750;
    box-shadow:5px 10px #c8c8c8;
}
.cpro46
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:1750;
    box-shadow:5px 10px #c8c8c8;
}

.cpro47
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:1750;
    box-shadow:5px 10px #c8c8c8;
}
.cpro48
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:1750;
    box-shadow:5px 10px #c8c8c8;
}
.cpro49
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:1750;
    box-shadow:5px 10px #c8c8c8;
}
.cpro50
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:1925;
    box-shadow:5px 10px #c8c8c8;
}
.cpro51{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:1925;
    box-shadow:5px 10px #c8c8c8;
}
.cpro52{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:1925;
    box-shadow:5px 10px #c8c8c8;
}
.cpro53{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:1925;
    box-shadow:5px 10px #c8c8c8;
}
.cpro54
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:1925;
    box-shadow:5px 10px #c8c8c8;
}
.cpro55
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:2100;
    box-shadow:5px 10px #c8c8c8;
}
.cpro56
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:2100;
    box-shadow:5px 10px #c8c8c8;
}

.cpro57
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:2100;
    box-shadow:5px 10px #c8c8c8;
}

.cpro58
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:2100;
    box-shadow:5px 10px #c8c8c8;
}

.cpro59
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:2100;
    box-shadow:5px 10px #c8c8c8;
}

.cpro60
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:2275;
    box-shadow:5px 10px #c8c8c8;
}

.cpro61{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:2275;
    box-shadow:5px 10px #c8c8c8;
}

.cpro62{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:2275;
    box-shadow:5px 10px #c8c8c8;
}

.cpro63
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:2275;
    box-shadow:5px 10px #c8c8c8;
}

.cpro64
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:2275;
    box-shadow:5px 10px #c8c8c8;
}

.cpro65{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:2450;
    box-shadow:5px 10px #c8c8c8;
}

.cpro66
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:2450;
    box-shadow:5px 10px #c8c8c8;
}

.cpro67
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:2450;
    box-shadow:5px 10px #c8c8c8;
}
.cpro68
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:2450;
    box-shadow:5px 10px #c8c8c8;
}

.cpro69
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:2450;
    box-shadow:5px 10px #c8c8c8;
}

.cpro70
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:2625;
    box-shadow:5px 10px #c8c8c8;
}

.cpro71
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:2625;
    box-shadow:5px 10px #c8c8c8;
}

.cpro72
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:2625;
    box-shadow:5px 10px #c8c8c8;
}

.cpro73{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:2625;
    box-shadow:5px 10px #c8c8c8;
}

.cpro74{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:2625;
    box-shadow:5px 10px #c8c8c8;
}

.cpro75
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:2800;
    box-shadow:5px 10px #c8c8c8;
}

.cpro76
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:2800;
    box-shadow:5px 10px #c8c8c8;
}

.cpro77
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:2800;
    box-shadow:5px 10px #c8c8c8;
}

.cpro78
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:2800;
    box-shadow:5px 10px #c8c8c8;
}

.cpro79
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:2800;
    box-shadow:5px 10px #c8c8c8;
}

.cpro80
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:2975;
    box-shadow:5px 10px #c8c8c8;
}

.cpro81
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:2975;
    box-shadow:5px 10px #c8c8c8;
}

.cpro82{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:2975;
    box-shadow:5px 10px #c8c8c8;
}

.cpro83
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:2975;
    box-shadow:5px 10px #c8c8c8;
}

.cpro84
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:2975;
    box-shadow:5px 10px #c8c8c8;
}


.cpro85
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:0;
    top:3150;
    box-shadow:5px 10px #c8c8c8;
}

.cpro86
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:300;
    top:3150;
    box-shadow:5px 10px #c8c8c8;
}

.cpro87
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:600;
    top:3150;
    box-shadow:5px 10px #c8c8c8;
}

.cpro88
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:900;
    top:3150;
    box-shadow:5px 10px #c8c8c8;
}
.cpro89
{
    animation: fadeBounce 1s  forwards;
    background:#d3dee7;
    background-color:#e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position:   absolute;
    text-align: center;
    left:1150;
    top:3150;
    box-shadow:5px 10px #c8c8c8;
}
/* anchor tag*/
a
{
    text-decoration:none;
    color: #0162c8;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;

}
a:hover
{
    color:#d3dee7;
    background:linear-gradient(90deg,#0162c8,#55e7fc);
    transition:2s;
}





/* Responsive Webdesign*/
/* Responsive Webdesign*/
@media screen and (max-width:1280px)
{
    .head
    {
        font-size:45px;
        width: 1400px;
    }
    .cpro
    {position:absolute;
        padding:1px 1px 1 1px;
        top:300;
        left:10;}
    .cpro1
    {
        position:absolute;
        padding:1px 1px 1 1px;
        top:300;
        left:250;
    }
    .cpro2
    {
        position: absolute;
        padding:1px 1px 1 1px;
        top:300;
        left:490;
    }
    .cpro3
    {
        position:absolute;
        padding:1px 1px 1 1px;
        top:300;
        left:730;
    }
    .cpro4{
        position: absolute;
        padding: 1px 1px 1 1px; 
        top:300; 
        left:970;}
    .cpro5
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:300;
        left:1200;
    }
    .cpro6
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:450;
        left:10;
    }
    .cpro7
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:450;
        left:250;
    }
    .cpro8
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:450;
        left:490;
    }
    .cpro9{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:450;
        left:730;
    }
    .cpro10
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:450;
        left:970;
    }
    .cpro11
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:450;
        left:1200;
    }
    .cpro12
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:600;
        left:10;
    }
    .cpro13
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:600;
        left:250;
    }
    .cpro14
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:600;
        left:490;
    }
    .cpro15
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:600;
        left:730;
    }
    .cpro16
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:600;
        left:970;

    }
    .cpro17{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:600;
        left:1200;
    }
    .cpro18
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:750;
        left:10;
    }
    .cpro19{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:750;
        left:250;
    }
    .cpro20{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:750;
        left:490;
    }
    .cpro21{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:750;
        left:730;
    }
    .cpro22
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:750;
        left:970;
    }
    .cpro23
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:750;
        left:1200;
    }
    .cpro24
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:900;
        left:10;
    }
    .cpro25{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:900;
        left:250;
    }
    .cpro26
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:900;
        left:490;
    }
    .cpro27{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:900;
        left:730;
    }
    .cpro28{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:900;
        left:970;
    }
    .cpro29{
        position: absolute;
        padding: 1px 1px 1 1px;
        top:900;
        left:1200;
    }
    .cpro30
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1050;
        left:10;
    }
    .cpro31
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1050;
        left:250;
    }
    .cpro32
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1050;
        left:490;
    }
    .cpro33
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1050;
        left:730;
    }
    .cpro34
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1050;
        left:970;
    }
    .cpro35
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1050;
        left:1200;
    }
    .cpro36
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1200;
        left:10;
    }
    .cpro37
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1200;
        left:250;
    }
    .cpro38
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1200;
        left:490;
    }
    .cpro39
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1200;
        left:730;
    }
    .cpro40
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1200;
        left:970;
    }
    .cpro41
    {
        position: absolute;
        padding: 1px 1px 1 1px;
        top:1200;
        left:1200;
    }

          .cpro42,.cpro43,.cpro44,.cpro45,.cpro46,.cpro47,.cpro48,.cpro49,.cpro50,.cpro51,.cpro52,.cpro53,.cpro54,.cpro55,.cpro56,.cpro57
          ,.cpro57,.cpro58,.cpro58,.cpro59,.cpro60,.cpro61,.cpro62,.cpro63,.cpro64,.cpro65,.cpro66,.cpro67
          ,.cpro68,.cpro69,.cpro70,.cpro71,.cpro72,.cpro73,.cpro74,.cpro75,.cpro76,.cpro77,.cpro78,.cpro79
          ,.cpro80,.cpro81,.cpro82,.cpro83,.cpro84,.cpro85,.cpro87,.cpro86,.cpro88,.cpro89
          {display: none;}
}