*
{
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size:100%;
}
body
{
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.menu-bar
{
    background:   rgb(0,100,0);
    text-align:center;
}
.menu-bar ul
{
    display:inline-flex;
    list-style:none;
    color:#fff;
}
.menu-bar ul li
{
    width:100px;
    margin:15px;
    padding:20px;
}
.menu-bar ul li a
{
    text-decoration:none;
    color:#fff;
    
}
.active, .menu-bar ul li:hover
{
    background:#2bab0d;
    border-radius:3px;
}
.sub-menu1
{
    display: none;
}
.menu-bar ul li:hover   .sub-menu1
{
    display:block;
    position:absolute;
    background:   rgb(0,100,0);
    margin-top:15px;
    margin-left:-15px;
}
.menu-bar ul li:hover   .sub-menu1 ul
{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover   .sub-menu1 ul li
{
    width:150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius:0;
    text-align: left;
}
.menu-bar ul li:hover   .sub-menu1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover   .sub-menu1 ul li a:hover
{
    color:#b2ff00;
}
.cpro
{
    margin-top: 10%;
    margin-left:25%;
    color:#fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 300%;
}
@media screen and (max-width:1400px)
{
    .cpro
    {margin-top: 14%;
        margin-left:25%;}
}
@media  screen and (max-width:1250px) {
    .menu-bar ul li
{
    width:100px;
    margin:15px;
    padding:15px;
}
.cpro
    {margin-top: 14%;
        margin-left:25%;}


}
@media  screen and (max-width:1120px) {
    .menu-bar ul li
{
    width:100px;
    margin:10px;
    padding:15px;
}
.cpro
    {margin-top: 15%;
        margin-left:25%;}
}
@media  screen and (max-width:1050px) {
    .menu-bar ul li
{
    width:100px;
    margin:4px;
    padding:15px;
}
}
@media screen and (max-width:1000px)
{
    .cpro
    {margin-top: 17%;
        margin-left:25%;}
}
@media screen and (max-width:930px)
{
    .menu-bar ul li
    {
        width:100px;
        margin:4px;
        padding:10px;
    }
}
@media screen and (max-width:870px)
{
        .menu-bar ul li
    {
        width:100px;
        margin:4px;
        padding:7px;
    }
}
@media screen and (max-width:820px)
{
    .menu-bar ul li
    {
        width:100px;
        margin:4px;
        padding:4px;
    }
    .cpro
    {margin-top: 25%;
        margin-left:25%;}
}
@media  screen and (max-width:780px) {
    .menu-bar ul li
    {
        width:100px;
        margin:1px;
        padding:4px;
    }
    .cpro
    {margin-top: 30%;
        margin-left:25%;}
}
@media screen and (max-width:740px)
{
    .menu-bar ul li
    {
        width:90px;
        margin:1px;
        padding:4px;
    }
    .cpro
    {margin-top: 30%;
        margin-left:25%;
        font-size: 250%;
    }
}
@media screen and (max-width:700px)
{
.menu-bar ul li
{width:60px;
    margin:1px;
    padding:4px;
    
}
.menu-bar ul li 
{
    font-size:70%;
}
.cpro
{margin-top: 30%;
    margin-left:25%;
    font-size: 250%;
}

}
@media screen and (max-width:600px)
{

    .cpro
    {margin-top: 40%;
        margin-left:15%;
        font-size: 200%;
    }
}
